.about {
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  padding: 60px 40px;
}

.about-block {
  position: relative;
  margin-right: 100px;
}

.about-bg-img {
  top: -15px;
  position: absolute;
  z-index: 5;
}

.about-img {
  align-self: center;
  max-width: 500px;
  width: 100%;
}

.about-header {
  position: relative;
  margin: 0 0 30px;
  font-weight: 600;
  font-size: 44px;
  line-height: 66px;
  z-index: 10;
}

.about-descr {
  max-width: 600px;
  margin: 0 0 20px;
  font-weight: 500;
  font-size: 17px;
  line-height: 33px;
}

.about-descr:last-of-type {
  margin: 0 0 40px;
}

.about-descr__list {
  padding: 0;
  margin: 10px 0 0 10px;
  list-style: none;
  text-decoration: none;
}

.about-count-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-collapse-content {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height 0.5s ease,
  opacity 0.3s ease,
  padding 0.3s ease;
}

.about-collapse-content.open {
  max-height: 1000px;
  opacity: 1;
}

.about-collapse-header {
  background: none;
  border: none;
  font: inherit;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 8px;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.collapse-icon {
  margin-left: 8px;
  stroke: #333;
  stroke-width: 2;
  fill: none;
  transition: transform 0.3s ease;
}

.collapse-icon line {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.collapse-icon.open .vertical {
  opacity: 0;
  transform: scaleY(0);
}

.pointer {
  cursor: pointer;
}

@media (max-width: 950px) {
  .about-block {
    margin-right: 50px;
  }
}

@media (max-width: 900px) {
  .about {
    padding-bottom: 0;
  }
}

@media (max-width: 800px) {
  .about {
    flex-direction: column;
  }

  .about-img {
    align-self: center;
    margin-bottom: 70px;
  }
}


@media (max-width: 400px) {
  .about-header {
    margin-bottom: 15px;
    font-size: 40px;
    line-height: 60px;
  }
}
